<ion-header>
  <ion-toolbar>
    <ion-title>
      POKEKNOW
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list>

    <ion-item lines="none" *ngFor="let pokemon of pokemons" (click)="pokeNavigate(pokemon)" [class]="pokemon.types[0].type.name">

      <div>
        <h1>{{ pokemon.name }}</h1>
        <ion-badge mode="ios" color="light">{{ formatId(pokemon.id) }}</ion-badge>
        <ion-badge *ngFor="let type of pokemon.types" [color]="getColor(type.type.name)" mode="ios">{{ type.type.name }}</ion-badge>
      </div>


      <ion-thumbnail slot="end" vertical="end">
        <img [src]="pokemon.sprites.front_default">
      </ion-thumbnail>
    </ion-item>

  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading pokemons...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<app-poke-footer></app-poke-footer>
